{% extends "base.html.twig" %}
{% block body %}
    <div class="content-wrapper">

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Liste Projets</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>nom</th>
                                        <th>budget</th>
                                        <th>checkin</th>
                                        <th>checkout</th>
                                        <th>description</th>
                                        <th>delete</th>
                                        <th>update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for projet in projets%}
                                        <tr>
                                            <td>{{ projet.nom }}</td>
                                            <td>{{ projet.budget }}</td>
                                            <td>{{ projet.checkIn|date('D/M/Y') }}</td>
                                            <td>{{ projet.checkOut|date('D/M/Y')}}</td>
                                            <td>{{ projet.description}}</td>
                                            <td>       
                                                <a href="{{path("freelancer_main_delete_projet",{'id':projet.id})}}"   >
                                                    <button class="btn btn-circle btn-facebook">Supprimer</button>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{{path("freelancer_main_update_projet",{'id':projet.id})}}"   >
                                                    <button class="btn btn-circle btn-dropbox">Modifier</button>
                                                </a>
                                            </td> 

                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div></div></div></div></section></div>
   
{% endblock %}
