{% extends "base2.html.twig" %}
{% block body %}
    <div class="content-wrapper">
        <br/><br/><br/>
        <form method="POST" action="">
            <div style="margin-left: 50px">          
                <input class="search" type="text" name="projets" placeholder="chercher projet"/>
                <div class="glyphicon glyphicon-search"></div>
                <input type="submit"value="recherche"/>
            </div>
        </form>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <h1 class="title1">Liste des projets</h1>
                        <div class="box-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="bronze" scope="col">nom</th>
                                        <th class="gold" scope="col">budget</th>
                                        <th class="silver" scope="col">checkin</th>
                                        <th class="gold" scope="col">checkout</th>
                                        <th class="bronze" scope="col">description</th>
                                        <th class="bronze" scope="col">retirer candidature</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for projet in projets  %}
                                        <tr>
                                            <td>{{ projet.nom }}</td>
                                            <td>{{ projet.budget }}</td>
                                            <td>{{ projet.checkIn|date('D/M/Y') }}</td>
                                            <td>{{ projet.checkOut|date('D/M/Y')}}</td>
                                            <td>{{ projet.description}}</td>
                                            <td>
                                                <a href="{{path("freelancer_main_retirercandidature_projet",{'id':projet.id})}}"   >
                                                    retirer candidature
                                                </a>
                                            </td> 


                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
    {# empty Twig template #}
    {# empty Twig template #}
{% endblock %}