{% extends '::base.html.twig' %}
{% block body %}  
<div class="wrapper">
 <!-- Content Wrapper. Contains page content -->
{% include '::page_header.html.twig' %}
{% block username %}{{ user.username }}{% endblock %}
{% block username2 %}{{ user.username }}{% endblock %}
{% block email %}{{ user.email }}{% endblock %}
    <h1>Freelancer edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('freelancer') }}">
            Back to the list
        </a>
    </li>
</ul>
</div>
{% endblock %}
