{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block user %}Jobowner{% endblock %}
{% block fos_user_content %}

    <div class="register-page">
        <div class="register-box">
            <div class="register-logo">
                <a href="{{ path('jobowner_registration') }}"><b>Jobowner</b> Inscription</a>
            </div>

            <div class="register-box-body">
                <p class="login-box-msg">Créer une nouvelle adhésion</p>
                <form action="{{ path('jobowner_registration') }}" {{ form_enctype(form) }} method="POST">
                    {{ form_errors(form) }}
                    <div class="form-group has-feedback">
                        {{ form_widget(form.username,{ 'attr': {'class': 'form-control','placeholder':'security.login.username'|trans } }) }}
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        {{ form_errors(form.username) }}
                    </div>
                    <div class="form-group has-feedback">
                        {{ form_widget(form.nom,{ 'attr': {'class': 'form-control','placeholder':'Nom'|trans } }) }}
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        {{ form_errors(form.nom) }}
                    </div>
                    <div class="form-group has-feedback">
                        {{ form_widget(form.prenom,{ 'attr': {'class': 'form-control','placeholder':'Prenom'|trans } }) }}
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        {{ form_errors(form.prenom) }}
                    </div>
                    <div class="form-group has-feedback">
                        {{ form_widget(form.email,{ 'attr': {'class': 'form-control','placeholder':'email:'|trans } }) }}
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        {{ form_errors(form.email) }}
                    </div>
                    <div class="form-group has-feedback">
                        {{ form_widget(form.plainPassword.first,{ 'attr': {'class': 'form-control','placeholder':'security.login.password'|trans } }) }}
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        {{ form_errors(form.plainPassword.first) }}
                    </div>
                    <div class="form-group has-feedback">
                        {{ form_widget(form.plainPassword.second,{ 'attr': {'class': 'form-control','placeholder':'security.login.password'|trans } }) }}
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>   
                    <div class="form-group has-feedback">
                        {{ form_widget(form.adresse,{ 'attr': {'class': 'form-control','placeholder':'adresse'|trans } }) }}
                        <span class="glyphicon glyphicon-home form-control-feedback"></span>
                    </div>  
                    <div class="form-group has-feedback">
                        {{ form_widget(form.Entreprise,{ 'attr': {'class': 'form-control','placeholder':'adresse'|trans } }) }}
                        <span class="glyphicon glyphicon-fire form-control-feedback"></span>
                    </div>  
                    {{ form_rest(form) }}
                    <div>
                        <input type="submit" id="_submit" name="_submit" class="btn btn-primary btn-block btn-flat" value="{{ 'registration.submit'|trans }}" />
                    </div>
                </form>
            </div>
        </div>
        <br />
    </div>
{% endblock fos_user_content %}